html, body {
    height: 100%;
}

body {
    background-color: black;
    font-family: 'Creepster', cursive;
    color: #FFF;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    border: 15px hsl(305, 71%, 69%) solid;
    /* border-style: solid; */
}

#title {
    grid-row: 1;
    grid-column: 1 / span 8;
    place-self: center;
    font-size: 2em;
    padding-right: 2%;
    padding-left: 2%;
    border:15px hsl(305, 71%, 69%) solid;
}

#stats {
    grid-row: 2 / span 4;
    grid-column: 2 / span 1;
    background-color: #0c0c0c6d;
    font-size: 1.8em;
    color: hsl(305, 71%, 69%);
    display: grid;
}

.name-section, .score-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0 0 10%;
    border: 10px white solid;
}

#main {
    grid-row: 2 / span 4;
    grid-column: 3 / span 5;
    background-color: #000;
    border: 10px white solid;
    font-size: 1.5em;
    padding: 1% 1%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#main-area {
    grid-row: 1 / span 5;
    /* place-self: center; */
    background-color: #000;
    background-image: url("../resources/room-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

#game-commentary {
    grid-row: 6 / span 1;
    background-color: hsl(305, 71%, 69%);
    text-align: center;
    color: #000;
    display: grid;
    align-items: center;
}

#game-commentary-p {
    padding: 1%;
    
}

#buttons-section {
    grid-row: 6 / span 1;
    grid-column: 2 / span 6;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 10px white solid;
}

.game-play-btn {
    width: 20%;
    height: 45%;
    font-size: 1.7em;
    cursor: pointer;
    color: hsl(305, 71%, 69%);
    background-color: black;
    border: 10px white solid;
}

.happy {
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

#ghost-img {
    width: 180px;
    height: 180px;

    margin-left: 40%;
    margin-top: 10%;
    opacity: 0.7;

    

    /* animation: fly-around 10s infinite ease-in-out; */

/* animation: fade 0.5s infinite alternate, shrink 0.53s infinite alternate; */
    /* animation-name            : pulse;
    animation-duration        : 0.5s;
    animation-iteration-count : infinite;
    animation-direction       : alternate; */
}

.love {
    animation: love 3s infinite cubic-bezier(0,0,1,1);
}

@keyframes love {
    25% {
        transform: translateX(60%);
        /* height: 0%; */
    }
    50% {
        transform: translateX(0%);
        /* height: 60%; */
    }
    75% {
        transform: translateX(-60%);
        /* height: 40%; */
    }
    100% {
        transform: translateX(0%);
    }
}

.sad {
    animation: sad 3s infinite ease-in-out;
}

@keyframes sad {
    25% {
        transform: scale(0.8) translateX(80%);
        /* height: 0%; */
    }
    50% {
        transform: scale(0.6) translateX(50%);
        /* height: 60%; */
    }
    75% {
        transform: scale(0.5) translateX(30%);
        /* height: 40%; */
    }
    100% {
        transform: scale(0.4) translateX(0%);
    }
}

.happy {
    animation: happy 1s ease-out infinite;
}

@keyframes happy {
    25% {
        transform: translateY(40%);
        height: 40%;
    }
    50% {
        transform: translateY(0%);
        height: 60%;
    }
    75% {
        transform: translateY(-40%);
        height: 40%;
    }
    100% {
        transform: translateY(0%);
    }
}

.angry {
    animation: sad 3s infinite ease-in-out;
}

@keyframes angry {
    25% {
        transform: scale(0.8) translateX(80%);
        /* height: 0%; */
    }
    50% {
        transform: scale(0.6) translateX(50%);
        /* height: 60%; */
    }
    75% {
        transform: scale(0.5) translateX(30%);
        /* height: 40%; */
    }
    100% {
        transform: scale(0.4) translateX(0%);
    }
}


.sleeping {
    animation: sleeping 3s ease-in-out infinite;
}

@keyframes sleeping {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.fun {
    animation: fun 3s infinite linear; 
}

@keyframes fun {
    10% {
        transform: scale(0.8) translateX(10vw);
    }

    20% {
        transform: scale(0.7) translateX(20vw);
    }

    30% {
        transform: scale(0.6) translateX(15vw);
    }

    40% {
        transform: scale(0.5) translateX(5vw);
    }

    50% {
        transform: scale(0.5) translateX(0vw);
    }

    60% {
        transform: scale(0.5) translateX(-5vw);
    }

    70% {
        transform: scale(0.6) translateX(-15vw);
    }

    80% {
        transform: scale(0.7) translateX(-20vw);
    }

    90% {
        transform: scale(0.8) translateX(-10vw);
    }

    100% {
        transform: scale(1) translateX(0vw);
    }
}


/* @keyframes fly-around {
	
	0% {
		transform:  translateX(10vw) translateY(4vh);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	} 
	
	30% {
		transform: translateX(40vw) translateY(10vh);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	} 
	
	60% {
		transform: translateX(30vw) translateY(5vh)  scale(0.6);
	}
	
	100% {
		transform: translateX(10vw) translateY(0vh)  scale(0.6);
	}
}  */


/* @keyframes fade {
    from { opacity   : 1; }
    to   { opacity   : 0.25; }
}
@keyframes shrink {
    from { transform : scale(1); }
    to   { transform : scale(0.75); }
} */

/* @keyframes pulse {
   from { transform: scale(1)   ; opacity: 1;    }
   to   { transform: scale(0.75); opacity: 0.25; }
} */
