body {
    background-color: black;
}

#coffin-btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

